<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kelvin</title>
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <style>
      body {
        font-family: "Karla", sans-serif;
        background-color: #fff;
        min-height: 100vh;
      }
      .brand-wrapper {
        padding-top: 7px;
        padding-bottom: 8px;
        margin-left: -20px;
        font-weight: bold;
        color: #080808;
      }
      .brand-wrapper .logo {
        height: 25px;
      }
      .login-section-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        /* padding: 68px 100px; */
        background-color: whitesmoke;
      }
      @media (max-width: 991px) {
        .login-section-wrapper {
          padding-left: 0;
          padding-right: 0;
        }
      }
      @media (max-width: 575px) {
        .login-section-wrapper {
          padding-top: 20px;
          padding-bottom: 20px;
          min-height: 100vh;
        }
      }
      .login-wrapper {
        width: 300px;
        max-width: 100%;
      }
      @media (max-width: 575px) {
        .login-wrapper {
          width: 80%;
        }
      }
      .login-wrapper label {
        font-size: 14px;
        font-weight: bold;
        color: #b0adad;
      }
      .login-wrapper .form-control {
        border: none;
        background-color: #ffffff;
        border-radius: 0;
        padding: 9px 5px;
        min-height: 40px;
        font-size: 18px;
        font-weight: normal;
      }
      .login-wrapper .form-control::-webkit-input-placeholder {
        color: #b0adad;
      }
      .login-wrapper .form-control::-moz-placeholder {
        color: #b0adad;
      }
      .login-wrapper .form-control:-ms-input-placeholder {
        color: #b0adad;
      }
      .login-wrapper .form-control::-ms-input-placeholder {
        color: #b0adad;
      }
      .login-wrapper .form-control::placeholder {
        color: #b0adad;
      }
      .login-wrapper .login-btn {
        background-color: black;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
      }
      .login-wrapper .login-btn:hover {
        border: 1px solid black;
        background-color: #fff;
        color: black;
      }
      .login-wrapper a.forgot-password-link {
        color: #080808;
        font-size: 14px;
        text-decoration: underline;
        display: inline-block;
        margin-bottom: 54px;
      }
      @media (max-width: 575px) {
        .login-wrapper a.forgot-password-link {
          margin-bottom: 16px;
        }
      }
      .login-wrapper-footer-text {
        font-size: 16px;
        color: #000;
        margin-bottom: 0;
      }
      .login-title {
        font-size: 30px;
        color: #000;
        font-weight: bold;
        margin-bottom: 25px;
      }
      .login-img {
        width: 100%;
        height: 100vh;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left;
        object-position: left;
      }
      .login-kct {
        width: 20%;
        height: 20vh;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left;
        object-position: left;
      }
      .kctlogo {
        width: 100px;
        height: 70px;
      }
      .kcirilogo {
        width: 150px;
        height: 50px;
        margin-left: 30px;
      }
      .logotext {
        font-size: 30px;
      }
      @media only screen and (max-width: 576px) {
        .kctlogo {
          width: 70px;
          height: 50px;
        }
        .kcirilogo {
          width: 100px;
          height: 40px;
        }
        .logotext {
          font-size: 20px;
        }
      }
      @media only screen and (min-width: 320px) and (max-width: 399px) {
        .kctlogo {
          width: 70px;
          height: 40px;
        }
        .kcirilogo {
          width: 100px;
          height: 30px;
        }
        .logotext {
          font-size: 18px;
        }
        .brand-wrapper {
          margin-left: -10px;
          margin-top: -20px;
        }
      }
      @media only screen and (max-width: 320px) and (min-width: 200px) {
        .kctlogo {
          width: 70px;
          height: 40px;
        }
        .kcirilogo {
          width: 100px;
          height: 30px;
        }
        .logotext {
          font-size: 12px;
        }
      }
      @media only screen and (max-width: 576px) and (min-width: 400px) {
        .kctlogo {
          width: 70px;
          height: 40px;
        }
        .kcirilogo {
          width: 100px;
          height: 30px;
        }
        .logotext {
          font-size: 20px;
        }
      }
      @media only screen and (max-width: 800px) and (min-width: 577px) {
        .kctlogo {
          width: 70px;
          height: 40px;
        }
        .kcirilogo {
          width: 100px;
          height: 30px;
          margin-left: 7px;
        }
        .logotext {
          font-size: 20px;
        }
      }
      @media only screen and (max-width: 992px) and (min-width: 800px) {
        .kctlogo {
          width: 70px;
          height: 40px;
        }
        .kcirilogo {
          width: 100px;
          height: 30px;
          margin-left: 15px;
        }
        .logotext {
          font-size: 20px;
        }
      }
      @media only screen and (max-width: 1200px) and (min-width: 992px) {
        .kctlogo {
          width: 70px;
          height: 70px;
        }
        .kcirilogo {
          width: 150px;
          height: 30px;
          margin-left: 3px;
        }
        .logotext {
          font-size: 24px;
        }
      }
      @media only screen and (min-width: 1200px) {
        .kctlogo {
          width: 75%;
          height: 75%;
        }
        .kcirilogo {
          width: 75%;
          height: 40%;
          margin-left: 60px;
        }
        .logotext {
          font-size: 32px;
        }
      }
      /*# sourceMappingURL=login.css.map */
    </style>
  </head>

  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <img
              src="login.jpg"
              alt="login image"
              class="login-img"
            />
          </div>
          <div class="col-12 col-sm-6 login-section-wrapper">
            <div class="row brand-wrapper">
              <div class="col-4">
                <img
                  class="kctlogo"
                  src="logo.png"
                  alt="KCT"
                  class="float-right"
                />
              </div>
              <div class="col-4">
                <div class="row logotext text-center"></div>
              </div>
              <div class="col-4">
                <img
                  class="kcirilogo"
                  src="logo1.png"
                  alt="KCIRI"
                  class="rounded float-left"
                />
              </div>
            </div>

            <h1 style="text-align: center">K-CATS's Security Portal</h1>

            <div class="login-wrapper mx-auto my-auto">
              <h2 class="login-title" style="text-align: center">LOGIN</h2>
              <form action="/login" method="POST">
                <div class="form-group">
                  <h4 for="email">Email</h4>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Enter Email"
                  />
                </div>
                <div class="form-group mb-4">
                  <h4 for="password">Password</h4>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Enter Passsword"
                  />
                </div>
                <input
                  name="login"
                  id="login"
                  class="btn btn-block login-btn"
                  type="submit"
                  value="Login"
                />
              </form>
              <div class="row justify-content-center">
                <span
                  style="
                    color: black;
                    font-size: large;
                    text-align: center;
                    font-weight: bold;
                  "
                >
                </span
                >
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto">
                <h6>
                  © Designed and Developed By
                  <span style="color: blue; font-size: large">KC.IRI</span> &
                  Team
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>